services:
  - type: web
    name: code-collaboration-backend
    env: node
    region: singapore
    plan: free
    buildCommand: cd api && npm install
    startCommand: cd api && node index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 8080
